<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- JavaMail相关配置 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" >
		<property name="host" value="${mailserver.mxhichina.host}"></property>
		<property name="port" value="${mailserver.mxhichina.port}"></property>
		<property name="username" value="${mailserver.mxhichina.username}"></property>
		<property name="password" value="${mailserver.mxhichina.password}"></property>
		<property name="protocol" value="smtp"></property>
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.timeout">20000</prop>
			</props>
		</property>
	</bean>
	
	
	
</beans>